@font-face {
    font-family: 'Glyphicons-halflings-regular';
    src: url('../fonts/glyphicons-halflings-regular.ttf');
}

.wrapper{
    width: 100%;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

.header{
    background: white;
    width: 80%;
    height: 44px;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 10%;
}

.logo{
    float: left;
    color: #DD845B;
    width: 400px;
    margin-top: 10px;
}

.menu{
    float: right;
    color: #959595;
    background-color: white;
    font-size: 16px;
}

.menu ul{
    float: right;
}

.menu li{
    float: left;
    height: 20px;
    margin: 10px;
}

.menu a{
    font-size: 12px;
}

.banner{
    background: white url('../images/light_bulb.jpg') top center no-repeat;
    width: 100%;
    height: 350px;
    background-size: cover;
    float: left;
}

.banner-content{
    width: 80%;
    margin-left: 10%;
    min-height: 150px;
    margin-inline: auto;
    margin-top: 100px;
    text-align: left;
    color: white;
    line-height: 50px;
}

.banner-content .title{
    font-size: 48px;
}

.banner-content .btn{
    padding: 12px 30px;
    border-radius: 5px;
    border: none;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    background-color: #FEA500;
    color: #fff;
}

.superior-quality{
    background: white;
    height: 150px;
    width: 80%;
    margin-left: 10%;
    padding-block: 20px;
    float: left;
}

.superior-quality-content{
    padding-top: 20px;
}

.superior-quality h2{
    text-align: center;
    color: #DD845B;
    font-size: 32px;
    line-height: 50px;
}

.superior-quality{
    text-align: center;
    color: #959595;
    line-height: 20px;
    font-size: 20px;
}

.values{
    width: 100%;
    height: 200px;
    float: left;
    text-align: center;
    overflow: hidden;
    border: 1px solid black;
}

.values .image1,
.values .image2,
.values .image3{
    width: 33.33%;
    float: left;
    position: relative;
}

.values .title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 32px;
}

.unparalleled-service{
    background: white;
    height: 500px;
    width: 80%;
    margin-left: 10%;
    padding-block: 20px;
    float: left;
}

.unparalleled-service-content{
    padding-top: 20px;
}

.unparalleled-service h2{
    text-align: center;
    color: #DD845B;
    font-size: 32px;
    line-height: 50px;
}

.unparalleled-service p{
    text-align: center;
    color: #959595;
    line-height: 20px;
    font-size: 20px;
}

.service-image{
    width: 500px;
    height: 350px;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 50%;
    overflow: hidden;
}

.world-class-products{
    background: yellow;
    width: 100%;
    height: 200px;
    float: left;
}


.find-us{
    background: white;
    height: 500px;
    width: 100%;
    float: left;
    padding-top: 20px;
}

.find-us h2{
    text-align: center;
    color: #DD845B;
    font-size: 32px;
    line-height: 50px;
    margin-top: 20px;
}

.find-us p{
    text-align: center;
    color: #959595;
    font-size: 20px;
    margin-top: 20px;
}

.map-image{
    width: 100%;
    height: 350px;
    margin: 0 auto;
    margin-top: 20px;
    overflow: hidden;
}

.contact{
    background: white;
    width: 100%;
    height: 150px;
    float: left;
}

.contact h2{
    text-align: center;
    color: #DD845B;
    font-size: 30px;
    line-height: 50px;
    margin-top: 20px;
}

.contact p{
    text-align: center;
    color: #959595;
    font-size: 20px;
    margin-top: 10px;
}

.footer{
    background: #F7F7F7;
    width: 100%;
    height: 200px;
    float: left;
}

.footer-columns{
    width: 70%;
    margin: 0 auto;
}

.footer-columns .col1,
.footer-columns .col2,
.footer-columns .col3{
    width: calc(33.33% - 22px);
    float: left; 
    height: 150px;
    margin: 0 10px;
    margin-top: 40px;
}

.footer-columns div h3{
    color: black;
    font-size: 20px;
    text-align: left;
    margin-bottom: 10px;
}

.footer-columns div p{
    text-align: left;
    color: #959595;
    margin-top: 10px;
}

.footer-columns div li{
    text-align: left;
    color: #959595;
    line-height: 20px;
}

.copyright{
    color: #FEA500;
    text-align: center;
    float: left;
    font-size: 16px;
    margin-top: 30px;
    width: 100%;
}

.copyright p{
    color: #959595;
    text-align: center;
    margin-top: 20px;
}

.copyright span{
    color: #959595;
    text-align: center;
}