@font-face{
    font-family: 'Montserrat Bold';
    src: url('../fonts/Montserrat-Bold.otf');
}

@font-face{
    font-family: 'Montserrat Bold Italic';
    src: url('../fonts/Montserrat-BoldItalic.otf');
}

@font-face{
    font-family: 'Montserrat Italic';
    src: url('../fonts/Montserrat-Italic.otf');
}

@font-face{
    font-family: 'Montserrat Regular';
    src: url('../fonts/Montserrat-Regular.otf');
}

@font-face{
    font-family: 'Montserrat Semi Bold';
    src: url('../fonts/Montserrat-SemiBold.otf');
}

@font-face{
    font-family: 'Montserrat Semi Bold Italic';
    src: url('../fonts/Montserrat-SemiBoldItalic.otf');
}

@font-face{
    font-family: 'Neue Montreal Bold';
    src: url('../fonts/NeueMontreal-Bold.otf');
}

@font-face{
    font-family: 'Neue Montreal Bold Italic';
    src: url('../fonts/NeueMontreal-BoldItalic.otf');
}

@font-face{
    font-family: 'Neue Montreal Italic';
    src: url('../fonts/NeueMontreal-Italic.otf');
}

@font-face{
    font-family: 'Neue Montreal Light';
    src: url('../fonts/NeueMontreal-Light.otf');
}

@font-face{
    font-family: 'Neue Montreal Light Italic';
    src: url('../fonts/NeueMontreal-LightItalic.otf');
}

@font-face{
    font-family: 'Neue Montreal Medium';
    src: url('../fonts/NeueMontreal-Medium.otf');
}

@font-face{
    font-family: 'Neue Montreal Medium Italic';
    src: url('../fonts/NeueMontreal-MediumItalic.otf');
}

@font-face{
    font-family: 'Neue Montreal Regular';
    src: url('../fonts/NeueMontreal-Regular.otf');
}

body{
    font-family: 'Montserrat Regular';
}

.wrapper{
    width: 100vw;
}

/* HEADER & HERO SECTION HOMEPAGE */
.header{
    width: 100%;
    position: fixed;
}

.hero header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    font-size: 16px;
    position: fixed;
}

.hero nav li{
    width: 120px;
    float: left;
    text-align: center;
}

.hero nav li:hover{
    text-decoration: underline;
    cursor: pointer;
}

.hero nav{
    width: 100%;
}

.menu-desktop{
    float: left;
    margin-top: 16px;
}

.adjust-header{
    margin-left: -20px;
}

.col-1{
    margin-top: 25px;
    width: 40%;
}

.col-2{
    text-align: center;
    width: 20%;
}

.col-3{
    text-align: right;
    margin-left: -40px;
    margin-top: 25px;
    width: 40%;
}

.button-idioma{
    font-size: 14px;
    border-radius: 30px;
    font-family: 'Neue Montreal Regular';
    line-height: 20px;
    padding: 5px 20px;
    margin-left: 5px;
    background-color: transparent;
    color: white;
    border: 0.5px solid white;
    cursor: pointer;
}

.button-idioma:hover{
    background-color: white;
    color: black;
}

.hero{
    width: 100%;
    float: left;
    text-align: center;
    font-family: 'Neue Montreal Medium';
    color: white;
    font-size: 48px;
    position: relative;
    height: 100vh;
    line-height: 110%;
}

.hero h1 span{
    font-family: 'Neue Montreal Bold';
}

.hero-button{
    margin-top: 40px;
    font-size: 16px;
    border-radius: 30px;
    font-family: 'Neue Montreal Regular';
    line-height: 30px;
    padding: 5px 24px;
    border: none;
}

.hero-button:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}

.hero-video{
    width: 100%;
    height: 100vh;
    object-fit: cover;
    object-position: center;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
}

.hero-content{
    width: 50%;
    margin: 400px 25%;
}

/* SUBHERO LAVENDER & MULTIFLORAL HONEY SECTION */
.subhero-section .content{
    padding: 100px 50px;
    width: calc(50% - 100px);
    background: #F0E7D1;
    float: left;
    height: 400px;
}

.subhero-section .content h1{
    font-size: 48px;
    font-family: 'Neue Montreal Bold';
    margin-top: 10px;
}

.subhero-section .content p{
    line-height: 180%;
    margin-top: 40px;
}

.subhero-section p span{
    font-family: 'Montserrat Italic';
}

.subhero-section p .bold{
    font-family: 'Montserrat Semi Bold';
}

.button-bw{
    margin-top: 40px;
    font-size: 14px;
    border-radius: 30px;
    font-family: 'Neue Montreal Regular';
    line-height: 30px;
    padding: 5px 24px;
    border: none;
}

.button-bw:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}

.subhero-section .image{
    width: 50%;
    background: white;
    float: left;
    height: 600px;
    justify-content: center;
}

.lavander .image{
    background: url('../images/rosmaninho500g.svg') no-repeat top center;
    background-size: cover;
    width: 50%;
}

.multifloral .image{
    background: url('../images/img1.png') no-repeat top center;
    background-size: cover;
    width: 50%;
}

/* TESTEMONIALS SECTION - HOMEPAGE */
.testemonials{
    background-color: white;
    width: 90%;
    float: left;
    margin: 0 5%;
    padding: 70px 100px;
    text-align: center;
}

.testemonials .review{
    padding: 20px;
    line-height: 150%;
    font-size: 18px;
    font-family: 'Neue Montreal Regular';
}

.testemonials .name{
    line-height: 150%;
    font-size: 16px;
    font-family: 'Montserrat Semi Bold';
}

.testemonials .location{
    margin-top: 5px;
    font-size: 14px;
}

.slick-prev:before, .slick-next:before{
    color: black;
}

.slick-dots{
    position: relative;
}

.slick-dotted.slick-slider{
    margin-bottom: 0;
}

.slick-prev:before {
    background: url(../images/arrow_testemonials_left.svg);
    color: transparent;
    font-size: 32px;
}
  
  .slick-next:before {
    background: url(../images/arrow_testemonials_right.svg);
    color: transparent;
    font-size: 32px;
}

/* BENEFITS SECTION */
.benefits{
    background-color: #CFC1AB;
    width: 100%;
    float: left;
    padding: 80px 0;
}

.benefits-columns{
    height: fit-content;
    width: fit-content;
    margin: 0 20px;
}

.benefits-columns .content{
    margin-top: 30px;
}

.benefits-columns .col-1,
.benefits-columns .col-2,
.benefits-columns .col-3,
.benefits-columns .col-4{
    width: calc(25% - 40px);
    float: left; 
    margin: 0 20px;
}

.benefits-columns .col-1 .image,
.benefits-columns .col-4 .image{
    background: url('../images/100-transparent.svg') no-repeat top center;
    background-size: cover;
    height: 200px;
}

.benefits-columns .col-2 .image{
    background: url('../images/50-transparent.svg') no-repeat top center;
    background-size: cover;
    height: 200px;
}

.benefits-columns .col-3 .image{
    background: url('../images/0-transparent.svg') no-repeat top center;
    background-size: cover;
    height: 200px;
}

.benefits-columns div h3{
    margin-top: 15px;
    color: black;
    text-align: center;
    font-family: 'Neue Montreal Medium';
    font-size: 18px;
}

.benefits-columns div p{
    padding: 20px;
    text-align: center;
    color: black;
    font-size: 14px;
    line-height: 150%;
}

/* FOOTER */
.footer{
    background: #F0E7D1;
    width: 100%;
    float: left;
    bottom: 0; 
    left: 0; 
    z-index: 10;
}

.footer .col1{
    width: 40%;
    float: left;
}

.footer .col2,
.footer .col3,
.footer .col4{
    width: calc(20% - 40px);
    float: left; 
    margin: 0 20px;
    line-height: 35px;
}

.footer .col3{
    margin-top: 50px;
}

.credits{
    width: 100%;
    float: left;
    border-top: 1px solid black;
    margin-top: 60px;
    padding-top: 10px;
}

.copyright{
    width: 50%;
    float: left;
    font-size: 12px;
    margin-bottom: 40px;
}

.copyright span{
    vertical-align: super;
    font-size: 10px;
}

.socials{
    float: right;
    text-align: right;
}

.icon-socials-fb{
    float: left;
    margin-right: 12px;
    cursor: pointer;
}

.icon-socials-insta{
    float: left;
    margin-right: 12px;
    cursor: pointer;
}

.icon-socials-in{
    float: left;
    cursor: pointer;
}

.full-content{
    padding: 60px 60px 35px 60px;
}

.footer .content h3{
    font-family: 'Neue Montreal Medium';
    font-size: 20px;
    line-height: 150%;
    margin-bottom: 20px;
}

.footer .content a{
    font-size: 15px;
    line-height: 150%;
    color: #000;
}

.footer .content li:hover{
    text-decoration: underline;
    cursor: pointer;
}

/* MENU MOBILE */
.menu-mobile{
    display: none;
}

.menu-mobile-content{
    width: 100%;
    height: 100vh;
    background-color: red;
}

.item-menu-mobile{
    background: red;
    width: 100%;
    margin-top: 0px;
}

/* SE O ECRÃ TIVER NO MÁX 1300px */
@media screen and (max-width:1300px) {
    .header{
        background-color: #F0E7D1;
        width: calc(100% - 50px);
    }

    .subhero-section .content{
        width: calc(100% - 100px);
        height: calc(100% - 100px);
    }

    .subhero-section .image{
        width: 100vw;
    }

    .benefits-columns .col-1, .benefits-columns .col-2, .benefits-columns .col-3, .benefits-columns .col-4{
        width: calc(50% - 10px);
        float: left;
        margin: 0px 5px;
    }

    .menu-mobile{
        display: none;
    }

    .menu-desktop{
        display: block;
    }

    .wrapper{
        width: 100vw;
    }
}

/* SE O ECRÃ TIVER NO MÁX 900px */
@media screen and (max-width:900px) {
    .header{
        background-color: #F0E7D1;
        width: calc(100% - 60px);
        margin: 30px;
        font-size: 20px;
    }
    .menu-mobile{
        display: block;
    }
    .menu-desktop{
        display: none;
    }

    .wrapper{
        width: calc(100% - 60px);
    }
}

/* MEL */
.hero-cream header{
    background-color: #F0E7D1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    font-size: 16px;
    position: fixed;
}

.hero-cream nav li{
    width: 120px;
    float: left;
    text-align: center;
}

.hero-cream nav li a{
    color: #000;
}

.hero-cream nav li:hover{
    text-decoration: underline;
    cursor: pointer;
}

.hero-cream nav{
    width: 100%;
}

.hero-cream{
    width: 100%;
    float: left;
    text-align: center;
    font-family: 'Neue Montreal Medium';
    color: black;
    font-size: 48px;
    position: relative;
    line-height: 110%;
}

.hero-cream .hero-content{
    margin: 180px;
    width: 80%;
}

.hero-cream .text-content p{
    font-size: 16px;
    font-family: 'Montserrat Regular';
    margin-top: 40px;
    line-height: 160%;
}

.hero-cream .images{
    margin-top: 30px;
}

.button-idioma-white{
    font-size: 14px;
    border-radius: 30px;
    font-family: 'Neue Montreal Regular';
    line-height: 20px;
    padding: 5px 20px;
    margin-left: 5px;
    background-color: transparent;
    color: #000;
    border: 0.5px solid #000;
    cursor: pointer;
}

.button-idioma-white:hover{
    background-color: white;
    color: black;
}

.button-cream{
    margin-top: 50px;
    font-size: 14px;
    border-radius: 30px;
    font-family: 'Neue Montreal Regular';
    line-height: 30px;
    padding: 5px 24px;
    border: none;
    color: #fff;
    background-color: #CFC1AB;
    margin: 16px 90px;
    display: inline-flex;
    align-items: center;
    gap: 5px;
    justify-content: center;
    width: 165px;
}

.button-cream:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}

.button-cream p{
    float: left;
}

.button-cream img{
    margin-right: -10px;
}

.product-image{
    width: calc(50% - 20px);
    margin: 0 10px;
    float: left;
    margin-bottom: 60px;
}

.product-image .image{
    height: 380px;
    width: 100%;
}

.product-image .lavander{
    background: url('../images/rosmaninho500g_mel.svg') no-repeat top center;
}

.product-image .multifloral{
    background: url('../images/multifloral500g_mel.svg') no-repeat top center;
}

/* POLÍTICAS */
.legal-content{
    width: calc(100% - 120px);
    text-align: justify;
    margin: 180px 60px;
}

.legal-title{
    text-align: center;
}

.legal-content p{
    font-size: 16px;
    font-family: 'Montserrat Regular';
    margin-top: 40px;
    line-height: 160%;
}

.legal-content p span{
    vertical-align: super;
    font-size: 10px;
}

.legal-content .bold{
    font-family: 'Montserrat Semi Bold';
    font-size: 16px;
}

.legal-content .italic{
    font-family: 'Montserrat Italic';
}

/* SOBRE NÓS */
.about-us-content {
    width: 100%;
    margin: 0;
    float: left;
}

.about-us-content .image{
    background: url('../images/img2.png') no-repeat top center;
    background-size: cover;
    width: 100%;
    height: 600px;
}

.about-us .image{
    background: url('../images/img3.png') no-repeat top center;
    background-size: cover;
    width: 50%;
}

.about-us-2 .image{
    background: url('../images/img4.png') no-repeat top center;
    background-size: cover;
    width: 50%;
}

.about-us-content .text{
    width: calc(100% - 400px);
    padding: 90px 200px;
}

.about-us-content p{
   font-family: 'Neue Montreal Regular';
   text-align: center;
   font-size: 24px;
   line-height: 140%;
}

.about-us-content p b{
    font-family: 'Neue Montreal Medium';
}

.about-us-content .signature{
    font-family: 'Neue Montreal Bold';
}

.signature span{
    font-family: 'Neue Montreal Light Italic';
}

.hero-about header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    font-size: 16px;
    position: fixed;
}

.hero-about nav li{
    width: 120px;
    float: left;
    text-align: center;
}

.hero-about nav li:hover{
    text-decoration: underline;
    cursor: pointer;
}

.hero-about nav{
    width: 100%;
}

.hero-about{
    width: 100%;
    float: left;
    text-align: center;
    font-family: 'Neue Montreal Medium';
    color: white;
    font-size: 48px;
    position: relative;
    line-height: 110%;
}

.contact-section{
    float: left;
    background: #fff;
    width: calc(100% - 200px);
    padding: 90px 100px;
    text-align: center;
}

.contact-section .text{
    font-size: 24px;
    line-height: 160%;
    font-family: 'Neue Montreal Medium';
}

.contact-section .text span{
    font-family: 'Neue Montreal Regular';
}

/* CONTACTO */

.contacts{
    margin-top: 40px;
    width: 100%;
    height: 600px;
}

.form{
    width: 70%;
    background-color: red;
    height: 600px;
    float: left;
}

.other-contacts{
    width: 30%;
    background-color: blue;
    height: 600px;
    float: left;
}