.wrapper{
    width: 70%;
    margin: 0 15%;
    border: 1px solid grey;
    padding: 20px;
    float: left;
}

.algarismos{
    width: 70%;
    float: left;
}

.operadores{
    width: 30%;
    float: left;
}

.resultado{
    width: 100%;
    float: left;
}

.algarismos button{
    width: 100px;
    height: 100px;
    font-size: 20px;
}

.operadores button{
    width: 100px;
    height: 100px;
    font-size: 20px;
}