.frame{
    width: 800px;
    height: 400px;
    background: red;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    margin-top: 30px;
}

.frame img{
    width: 100%;
}

.overlay{
    width: 800px;
    height: 400px;
    /* background: #000; */ 
    background: rgba(0,0,0,0.5);
    position: absolute;
    top: 0;
    left: 0;
    /* opacity: 0.5; */ 
    display: none;
}

.frame:hover .overlay{
    display: block;
}

.overlay h1{
    color: #fff;
    font-size: 20px;
    font-weight: bold;
}

.frame:hover img{
    width: 110%;
}

.frame2{
   background-image: url('../images/ponte-25-abril.jpeg');
   background-position: top center;
   background-size: cover;
}

.frame2:hover{
    background-image: url('../images/ponte-25-abril-2.jpeg');
}