.container{
    width: 100%;
    background: yellow;
    display: flex;
    flex-direction: row;
    float: left;
    align-items: stretch;
    flex-wrap: wrap;
}

.caixa-1{
    flex: calc(50% - 40px);
    height: 200px;
    background: yellowgreen;
    padding: 20px;
    overflow: hidden;
    margin: 20px;
    float: left;
    transition: 5s;
}