@font-face {
    font-family: 'Pacifico';
    src: url('../fonts/Pacifico-Regular.ttf');
}

body{
    margin: 0;
    padding: 0;
    background: grey;
    color: #000;
    font-size: 20px;
    font-family: "Open Sans",'Arial','Helvetica','sans-serif';
}

.wrapper{
    background: yellow;
    width: 100%;
}

/* GENERAL STYLING */
header{
    background: #ffffff;
    width: 100%;
    height: 44px;
    float: left;
}

.col-1{
    width: 20%;
    height: 44px;
    float: left; 
}

.icon-menu-principal{
    font-size: 30px;
    color:#767d85;
    padding: 10px;
}

.col-2{
    width: 60%;
    height: 44px; 
    float: left;
    text-align: center;
    color: #f6755e;
    font-family: 'Pacifico';
}

.col-3{
    width: 20%;
    height: 44px;
    float: left;
}
.col-3 a{
    display: block;
    width: 100px;
    margin-inline: auto;
    margin-top: 8px;
    text-align: center;
    border-radius: 4px;
    border: 2px solid #DEE1E3;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
}
.col-3 a:hover{
    background-color: #DEE1E3;
}

/* HERO SECTION */
.hero{
    float: left;
    width: 100%;
    height: 477px;
    background: #fff url('../images/banner.jpg') top center no-repeat;
    background-size: cover;
}

.hero-content{
    width: 50%;
    min-height: 150px;
    margin-inline: auto;
    margin-top: 100px;
    text-align: center;
}

.hero-content .title{
    color: #25A2C3;
    font-size: 22px;
    padding: 10px 0;
}

.hero-content .description{
    color: #000000;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 10px;
}

.hero-content .btn{
    padding: 12px 30px;
    border-radius: 5px;
    border: none;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    background-color: #F6755E;
    color: #fff;
}

/* ARTICLES SECTION */
.articles{
    background: white;
    width: 100%;
    height: 500px;
    float: left; 
}

.articles .center-articles{
    background: white;
    width: 70%;
    height: 500px;
    margin-left: 15%;
}

.articles .col1,
.articles .col2,
.articles .col3{
    width: 33.33%;
    float: left; 
}

.articles .col1 h2,
.articles .col3 h2{
    color: #25A2C3;
    font-weight: bold;
    text-align: right;
    margin-bottom: 30px;
}

.articles .col3 h2{
    text-align: left;
}

.center-articles .col1 div,
.center-articles .col3 div{
    width: 70%;
    float: right;
    margin-bottom: 20px;
}

.center-articles .col3 div{
    float: left;
}

.center-articles .col1 p{
    text-align: right;
    color: #767d85;
}

.center-articles .col3 p{
    text-align: left;
    color: #767d85;
}

.center-articles .col2 .moldura{
    width: 200px;
    height: 200px;
    background: grey;
    margin: 0 auto;
    border-radius: 50%;
    overflow: hidden;
}

.center-articles .col2 .moldura img{
    width: 100%;
}

/* HIGHLIGHTS SECTION */
.highlights{
    background: #F6755E;
    width: 100%;
    height: 200px;
    float: left; 
    color: white;
    text-align: center;
}

.highlights h2{
    font-size: 24px;
    font-weight: bold;
}

.highlights p:nth-child(2){
    font-style: italic;
}

.highlights p span{
    font-weight: bold;
}

/* LATEST NEWS SECTION */
.latest-news{
    background: white;
    width: 100%;
    float: left;
    padding: 80px 0;
}

.news-columns{
    width: 70%;
    margin: 0 auto;
}

.news-columns .col1,
.news-columns .col2,
.news-columns .col3{
    width: calc(33.33% - 22px);
    float: left; 
    height: 400px;
    border: 1px solid #767d85;
    margin: 0 10px;
}

.news-columns img{
    width: 100%;
}

.news-columns div h3{
    color: #25A2C3;
    font-weight: bold;
    padding-left: 20px;
    text-align: left;
}

.news-columns div p{
    padding: 20px;
    text-align: left;
    color: #767d85;
}

footer{
    background: #25A2C3;
    width: 100%;
    height: 150px;
    float: left; 
    text-align: center;
    color: #fff;
}

.footer h2{
    font-size: 24px;
    font-weight: bold;
}

.footer p span{
    color: #F6755E;
}