.cx-1{
    width: 100px;
    height: 100px;
    background: red;
    animation: animaCaixa 3s forwards;
}

.cx-2{
    width: 100px;
    height: 20px;
    background: green;
    animation: animaCaixa2 15s forwards;
}

@keyframes animaCaixa{
    from{
        background: red;
        width: 100px;
        height: 100px;
    }

    to{
        background: yellow;
        width: 300px;
        height: 300px;
    }
}

@keyframes animaCaixa2{
    0%{
        background: green;
        height: 20px;
    }
    20%{
        background: yellow;
    }
    80%{
        background: purple;
    }
    100%{
        background: green;
        height: 100px;
    }
}

